!.gitignore
.*

# C extensions
*.so

# Distribution / packaging
env/
dist/


# Unit test / coverage reports
.coverage

# Translations
*.mo

# Django stuff:
*.log

# virtualenv
/env/
!.gitignore
!.travis.yml



# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
