<h2>My Reports</h2>

<table class="reportTable table-bordered table-striped">
        <tr>
                <th>ID</th>
                <th>Module</th>
                <th>Title</th>
                <th>Severity</th>
                <th>Status</th>
                <th>Date</th>
                <th>Comment</th>
        </tr>
        <tr *ngFor="let report of reports"
          [class.selected]="report === selectedReport"
          (click)="onSelect(report)">

            <td>{{report.id}}</td>
            <td>{{report.module}}</td>
            <td>{{report.title}}</td>
            <td>{{report.severity}}</td>
            <td>{{report.status}}</td>
            <td>{{report.date}}</td>
            <td>{{report.comment}}</td>
        </tr>
 </table>

 <div>
     <h4>Add a New Report</h4>
     <label>Module:</label> <input #module />
     <label>Report Severity:</label> <input #reportSeverity />
     <label>Report Title:</label> <input #reportTitle />

     <button (click)="add(reportTitle.value, module.value, reportSeverity.value);
     reportTitle.value = ''; module.value = ''; reportSeverity.value = '';">
 Add
</button>

   <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

 </div>
