<h2>My Reports</h2>

<table class="reportTable table-bordered table-striped">
        <tr>
                <th>ID</th>
                <th>Module</th>
                <th>Title</th>
                <th>Status</th>
                <th>Severity</th>
        </tr>
        <tr *ngFor="let report of reports"
          [class.selected]="report === selectedReport"
          (click)="onSelect(report)">

            <td>{{report.id}}</td>
            <td>{{report.module}}</td>
            <td>{{report.title}}</td>
            <td>{{report.status}}</td>
            <td>{{report.severity}}</td>
        </tr>
 </table>

 <div>
     <h4>Add a New Report</h4>
     <label>Module:</label> <input #module />
     <label>ID</label> <input #reportId />
     <label>Report Status:</label> <input #reportStatus />
     <label>Report Severity:</label> <input #reportSeverity />
     <label>Report Title:</label> <input #reportTitle />
     <label>Report Comment:</label> <input #reportComment />
     <label>Report Date:</label> <input #reportDate />

     <button (click)="add(reportTitle.value, reportComment.value, module.value, reportSeverity.value, reportStatus.value,
     reportId.value, reportDate.value); reportTitle.value = ''; reportComment.value = ''; module.value = ''; reportSeverity.value = ''; reportStatus.value = ''; reportId.value = ''; reportDate.value = '';">
 Add
</button>
 </div>
